.aloha-logo{
    object-fit: contain;
    @include for-mobile{
        height: 3.5em;
    }
    @include for-tablet{
        order:1;
        height: 3em;
        position: absolute;
        left:1%;
    }
    @include for-desktop{
        height: 4em;
        order:3;
        position: absolute;
        left: 1%;
        margin:0;
    }
}
.cart-logo{
    object-fit: contain;
    @include for-mobile{
        height: 3.5em;
    }
    @include for-tablet{
        height: 3em;
        order:3;
        position: absolute;
        right: 1%;
    }
    @include for-desktop{
        height: 4em;
        order:3;
        position: absolute;
        right: 1%;
        margin:0;
    }
}

.fa-home{
    font-size: 3em !important;
    color: black;
    position: fixed;
    visibility:hidden;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.69);
    padding: 2%;
    border-radius: 100%;
    @include for-mobile{
        transform: translate(20rem,45rem);
    }
    @include for-tablet{
        transform: translate(10em,14em);
    }
    &:hover{
        background-color: white;
        cursor: pointer;
    }
}