//colors and styles for TEXT and links
.header-menu{
    list-style: none;
    a{
        text-decoration: none;
        color: $orange-brand-color;
       &:hover{
            color:$footer-grey-bg;
            text-decoration: underlin   e;
       }
    }
}

.header-banner{
    color:white;
    text-shadow: 1px 1px rgba(0,0,0,0.8);
    h1{
        font-family: 'PD-Bold';
        letter-spacing: 4px;
    }
    h2{
        font-family: 'R-Medium';
       
    }
}


//base font sizes for width 600px+
$base-font:16px;
$base-font-sm:14px;




@font-face{
    font-family:'PD-Bold';
    src: url("../../fonts/PlayfairDisplay-Bold.otf") format('truetype');
}
@font-face{
    font-family:'PD-BoldItalic';
    src: url("../../fonts/PlayfairDisplay-BoldItalic.otf") format('truetype');
}
@font-face{
    font-family:'PD-Italic';
    src: url("../../fonts/PlayfairDisplay-Italic.otf") format('truetype');
}
@font-face{
    font-family:'PD-Regular';
    src: url("../../fonts/PlayfairDisplay-Regular.otf") format('truetype');
}
@font-face{
    font-family:'R-Light';
    src: url("../../fonts/Raleway-Light.ttf") format('truetype');
}
@font-face{
    font-family:'R-LightItalic';
    src: url("../../fonts/Raleway-LightItalic.ttf") format('truetype');
}
@font-face{
    font-family:'R-Medium';
    src: url("../../fonts/Raleway-Medium.ttf") format('truetype');
}
@font-face{
    font-family:'R-MediumItalic';
    src: url("../../fonts/Raleway-MediumItalic.ttf") format('truetype');
}