.first-content{
    width:100%;
    display:flex;
    flex-flow:column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    @include for-mobile{
        padding:10% 0;
    }

    nav{
        font-family: 'PD-Italic';
        display:flex;
        flex-flow:row nowrap;
        margin: 0 auto;
        font-weight:100;
        @include for-mobile{
            font-size: 2em;
            margin-bottom: 5%;
        }
        .bold-style{
            font-family: 'PD-Bold';
        }
    }
    
    .first-desc{
        color:$body-font-color;
        font-family: 'R-Light';
        text-emphasis-color: black;
        width:90%;
        margin:0 auto;
        @include for-mobile{
            line-height: 2em;
            font-size:1em;
        }
        
    }
}

.second-content{
    width:100%;
    
    .second-category-menu{
        width:100%;
        @include for-mobile{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(4,1fr);
            grid-gap:5px 5px;
        }
        
    li{
        display:flex;
        align-items: center;
        justify-content: center;
        color:white;
        text-transform: uppercase;
        font-family: 'R-Medium';

        &:hover{
            cursor: pointer;
            filter: brightness(150%);
            text-shadow: 1px 1px 10px black;
            letter-spacing: unset;
            font-weight: bold;
            
        }
    }
    @include for-mobile{
        & :nth-child(1){
            grid-column: 1 / span 2;
            grid-row: 1;
        }
        & :last-child{
            grid-column: 1 / span 2;
            grid-row: 4;
        }
    }
        
    }

    img{
        object-fit: contain;
        height: 100%;
        width: 100%;
        z-index: -1;
        filter:brightness(75%);
    }
    .second-title{
        z-index: 1;
        position: absolute;
        
        letter-spacing: 3px;
        @include for-mobile{
            font-size: 1.6em;
        }

    }
}

.third-content{
    width:100%;
    padding:10% 0;
    text-align: center;
    nav{
        font-family: 'PD-Italic';
        display:flex;
        flex-flow:row nowrap;
        margin: 0 auto;
        font-weight:100;
        justify-content: center;
        @include for-mobile{
            font-size: 2em;
            margin-bottom: 5%;
        }
        .bold-style{
            font-family: 'PD-Bold';
        }
    }
}

.fourth-content{
    width: 100%;
    
    @include for-mobile{
        overflow: hidden;
        height: 45vmax;
        position: relative;
    }
    img{
        object-fit: contain;
        z-index: -1;
        filter: brightness(75%);

        @include for-mobile{
            transform: translate(-10em,-27em);
            height: 100vmax;
        }
    }

    .wrapper{
        position: absolute;
        width: 100%;
        z-index: 99;
        top: 0;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        height: 100%;
        align-items: center;
        font-family: 'R-medium';
        color: white;
        text-align: center;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.445);

        @include for-mobile{
            line-height: 1.5;
            padding: 0 2%;
        }
        nav{
            font-family: 'PD-Italic';
            display:flex;
            flex-flow:row nowrap;
            margin: 0 auto;
            font-weight:100;
            justify-content: center;
            color:white;
            @include for-mobile{
                font-size: 2em;
                margin-bottom: 5%;
            }
            .bold-style{
                font-family: 'PD-Bold';
                &:before{
                    padding-left:1%;
                }
            }
        }

        .subscribe-form{
            width: 100%;
            @include for-mobile{
                display: inline-flex;
                margin-top: 5%;
                align-items: center;
            }
            
            input{
                font-family: 'R-Medium';
                
                z-index: 1;
                border-radius: 2em;
                border: 0;
                
                width: 100%;
                @include for-mobile{
                    padding: 5% 0 5% 24px;
                    font-size: 0.5em;
                }
            }
            button{
                border: 0;
                font-family: 'R-Medium';
                
                text-transform: uppercase;
                color: white;
                background-color: $link-hover;
                font-weight: lighter;
                position: absolute;
                
                z-index: 2;
                @include for-mobile{
                    border-radius: 2em;
                    font-size: 0.5em;
                    right: 4%;
                    padding: 3%;
                }
                &:hover{
                    cursor: pointer;
                    background-color:rgba(255, 0, 0, 0.897);
                }
            }
        }
    }

    
}