//3rd Contents SLIDER information


.product-type, .product-price{
    text-transform: uppercase;
    color:$body-light-grey;
    font-family: 'R-Medium';
    
    margin-bottom: 2%;
    letter-spacing: 0.2em;
    @include for-mobile{
        font-size:0.8em;
    }
}
.product-name{
    text-transform: capitalize;
    
    color:$orange-brand-color;
    margin-bottom: 2%;
    @include for-mobile{
        font-size: 1.3em;
    }
}

/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
//   background: #EEE;
@include for-desktop{
  height: 30vmax;
}
}

.carousel-cell {
  height: 55vmax;
  width: 25%;
  margin-right: 10px;
//   background: #8C8;
  counter-increment: gallery-cell;

  @include for-mobile{
    width: 100%;
  }
  @include for-tablet {
    width: 50%;
  }
  
}

.flickity-slider{
  
  @include for-tablet{
    left: -28% !important;
  }
  @include for-desktop{
    width: 25% ;
    left: -38% !important;
  }
}
/* cell number */
.carousel-cell:before {
  @include for-tablet {
    width: 50%;
  }
  @include for-desktop{
    width:25%;
  }
  display: block;
  text-align: center;
//   content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}


/* big buttons, no circle */
.flickity-prev-next-button {
  width: 100px;
  height: 100px;
  background: transparent;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: $body-font-color;
}
.flickity-prev-next-button.no-svg {
  color: $body-font-color;
}
.flickity-prev-next-button:hover {
  background: transparent;
}
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}
